

body{background: grey; margin: 0; font-family:  Arial, Helvetica, sans-serif;}
.enclosure{background: white; margin: auto; width: 800px; overflow: hidden; margin-top: 3%; margin-bottom: 2%;}
header {background: #29638a; margin: 0; padding: 12px 0px 12px 0px;}
h2, h3, p {margin: 20px 15px 2px 15px; }
h1{color: white; margin: 0; margin-left: 10px;}
#job{color: white; font-size: 24px; margin: 0; margin-left: 10px;}
#job-tittle{ margin-top: 3px;}
#education{ margin-left: 15px; margin-bottom: 15px;}
h2, h3{color: #29638a;}
span{margin-left: 20px; color: black;}
nav{; float: left; width: 70%;  margin: 0;}
section {background: #e0e1e2; float: right; width: 30%; display: flex; flex-direction: column;}
.spacer-nav{margin: 0; height: 50px;}
.spacer-section{margin: 0; height: 5px; background: #e0e1e2;}
.line{background: #29638a; width: 95%; height: 3px; margin: auto; margin-bottom: 10px; border-radius: 2px;}
.icon{margin: 2px; margin-left: 15px; color: #29638a;}
.Skill-1, .Skill-2, .Skill-3, .Skill-4, .Skill-5{ margin-left: 20px;margin-bottom: 10px;   background: #29638a; height: 25px; float: left; border-radius: 0px 12px 12px 0px;}
.Skill-1{width: 80%}
.Skill-2{width: 40%}
.Skill-3{width: 70%}
.Skill-4{width: 90%}
.Skill-5{width: 80%}




